
*{
	box-sizing: border-box;
}
body{
	background-color: cyan;

}
h1
{
	color:grey;
	font-family:sans-serif;
	font-type: bold;
	margin-bottom:20px;
}

h2
{
	font-size: 125%;
	display: inline-block;
	position: absolute;
	margin-top: -15px;
	top: 13px;
	right: -3px;
	margin-bottom: 0;
	border: 2px solid black;
	width: 205px;
	padding: 2px;
	text-align: center;
	background-color: lightgreen;


}


.sec{
	color:black;
	font-style:italic;
	border:5px inset green;
	background-color:grey;
	margin-right:20px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding:20px;
	height:250px;
    position: relative;
    right: -70px;
    overflow: scroll;

   
}

@media (min-width:992px)
{
	.large
	{
	float:left;
	}
	.large{
	width:30%;
	}
}

@media (min-width: 768px) and (max-width:991px)
{
	.medium1 ,	.medium2 
	{
	float:left;
	}
	.medium1{
	width:50%;
	}
	.medium2{
	width:100%;
	}


	

}


@media (max-width:767px)
{
	.small 
	{
	float:left;
	}
	.small{
	width:100%;
	}
}


